body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  /* flex: auto;
  align-items: center; */
  /* padding-left: 200px;
  padding-right: 200px; */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.hero.section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #1F2937;
  color: white;
  padding-left: 200px;
  padding-right: 200px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.header-links ul{
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.hero .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.hero .container .text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  /* width: 100px; */
}

.hero.title {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.hero .desc {
  width: 620px;
}

.hero .buttons, .hero .desc, .header-links ul {
  font-size: 18px;
  color: #E5E7EB;
}


.info.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  gap: 50px;
}

.info.section .title {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.info.section .container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between;
  align-items: center; */
  flex-wrap: wrap;
  gap: 60px;
}

.container .info-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} 

.info-box .info {
  width: 240px;
}

.info-box .round-box {
  border-radius: 25px;
  border: 2px solid blue;
  padding: 20px;
  width: 200px;
  height: 150px;
}