body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  /* padding-left: 200px;
  padding-right: 200px; */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.hero.section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #1F2937;
  color: white;
  padding-left: 200px;
  padding-right: 200px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.header-links ul{
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.hero .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.hero .container .text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  /* width: 100px; */
}

.hero.title {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.hero .desc {
  width: 620px;
}

.hero .buttons, .hero .desc, .header-links ul {
  font-size: 18px;
  color: #E5E7EB;
}